<form method="post" action="/tweets/<%= @tweet.id %>/delete">
<input type="hidden" id="hidden" name="_method" value="delete">
  <%= @tweet.content %>
<br>
<a href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<br>
  <input type="submit" name="submit" id="submit" value="Delete Tweet">

</form>
